body {
    background-color: #006499;
}
//#body {
//    text-align: center; 
//}
td {
    padding: 1px;
    text-align: center;
    font-size: 2em;
    width: 38px;
    height: 38px;
}
table, td {
    border: solid 1px #000000;
}
table {
    background-color: #FFFFFF;
    border-collapse: collapse;
}