#woord1 {
    width : 0px;
    height : 0px;
    color : #000000;
}

#woord1 :hover {
    color : #ff0000;
}

#woord2 {
    width : 0px;
    height : 0px;
    color : #000000;
}

#woord2 :hover {
    color : #ff0000;
}

#woord3 {
    width : 0px;
    height : 0px;
    color : #000000;
}

#woord3 :hover {
    color : #ff0000;
}

#alles table :hover {
    color : #ff0000;
}

td {
    padding: 1px;
    text-align: center;
    font-size: 2em;
    width: 38px;
    height: 38px;
}
table, td {
    border: solid 1px #000000;
}
table {
    border-collapse: collapse;
}